.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: gold;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-item {
  max-height: 700px;
}

.navbar {
  background-color: transparent;
}

.navbar.solid {
  background-color: #B5F1CC;
}

/* Products */
.img-fluid{
  aspect-ratio: 1/1;
}
/* Services */

.footer {
  background-color: #B5F1CC;
}